html,
body {
    display: flex;
    flex-flow: column;
    height: 100%;
}

div#cinemascope {
    flex-grow: 1;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    text-align: right;
    overflow: auto;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-animation-name: big-bg;
    -webkit-animation-duration: 25s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-name: big-bg;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1.5rem;
    background-blend-mode: saturation;
}

div#cinemascope * {
    vertical-align: middle;
}

div#cinemascope h1,
div#cinemascope h3 {
    text-shadow: 2px 2px 0px #008080;
    line-height: 1;
}

div#locator,
div#locatorShadow {
    height: 100%;
    overflow: auto;
}

@media only screen and (min-width: 800px) {
    div#locator {
        background-image: url('https://img.icons8.com/material-rounded/1000/ffffff/map-marker.png');
        background-repeat: no-repeat;
        background-size: 35%;
    }
    div#locatorShadow {
        background-image: url('https://img.icons8.com/material-rounded/1000/008080/map-marker.png');
        transition: .4s;
        background-repeat: no-repeat;
        background-size: 35%;
        background-position-y: 30px;
        background-position-x: 30px;
    }
    body.darkTheme div#locatorShadow {
        background-image: url('https://img.icons8.com/material-rounded/1000/004d4d/map-marker.png');
        transition: .4s;
    }
    div#toolbox {
        padding-left: 50%;
    }
}

@keyframes big-bg {
    0% {
        background-image: url('../images/estate.jpg');
    }
    15% {
        background-image: url('../images/pack.jpg');
    }
    25% {
        background-image: url('../images/pack.jpg');
    }
    40% {
        background-image: url('../images/keys.jpg');
    }
    50% {
        background-image: url('../images/keys.jpg');
    }
    65% {
        background-image: url('../images/white.jpg');
    }
    75% {
        background-image: url('../images/white.jpg');
    }
    90% {
        background-image: url('../images/estate.jpg');
    }
    100% {
        background-image: url('../images/estate.jpg');
    }
}

@-webkit-keyframes big-bg {
    0% {
        background-image: url('../images/estate.jpg');
    }
    15% {
        background-image: url('../images/pack.jpg');
    }
    25% {
        background-image: url('../images/pack.jpg');
    }
    40% {
        background-image: url('../images/keys.jpg');
    }
    50% {
        background-image: url('../images/keys.jpg');
    }
    65% {
        background-image: url('../images/white.jpg');
    }
    75% {
        background-image: url('../images/white.jpg');
    }
    90% {
        background-image: url('../images/estate.jpg');
    }
    100% {
        background-image: url('../images/estate.jpg');
    }
}