div#cinemascope {
    display: block;
    color: white;
    background-image: url(../images/pack.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    text-align: right;
    padding-top: 300px;
    padding-bottom: 300px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 2rem;
}