header {
    border-radius: 10px;
}

div.baseboard {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #008080;
    transition: .4s;
    color: white;
    margin-bottom: 8px;
    margin-top: 8px;
    border-radius: 10px;
}

div.baseboard ul li {
    display: inline;
}

div.baseboard ul li a {
    color: white;
}

.postcard {
    background-size: cover;
    background-position: bottom;
    outline-offset: -8px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0px 2px 12px 2px;
    color: white;
    background-color: #222222;
    line-height: normal;
    background-blend-mode: multiply;
}

.frank {
    display: inline-block;
}

body.lightTheme .postcard {
    background-color: #008080;
    outline: 16px dotted #ffffff;
    transition: .4s;
}

body.darkTheme .postcard {
    background-color: #004d4d;
    outline: 16px dotted #000000;
    transition: .4s;
}

.postcode {
    height: 200px;
    font-size: 2.5rem;
    padding-left: 20px;
    padding-bottom: 20px;
}

.adminDistrict {
    font-weight: 300;
}

.secondaryToggle {
    display: none !important;
}

@media only screen and (max-width:440px) {
    div.toggleContainer {
        display: none;
    }
    .secondaryToggle {
        display: initial !important;
    }
    .secondaryToggle input {
        background-color: #00000000;
        border: none;
        color: white;
        font-size: inherit;
        text-decoration: underline;
        padding: 0px 0px 0px 0px;
    }
}

@media only screen and (min-width:600px) {
    .frank {
        background-image: url('../images/franked.svg');
        background-repeat: no-repeat;
        background-size: 200px;
        background-position-x: right;
        background-position-y: -70px;
    }
}

div.buttonsrow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.buttonsrow div.button {
    margin: auto;
}

div.buffet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.plate {
    flex-grow: 1;
    margin: 10px 10px 10px 10px;
    transition: .4s;
    border-radius: 12px;
    text-align: center !important;
    padding: 12px;
    justify-content: center !important;
}

body.lightTheme div.plate hr {
    border-top: 1px dotted #ffffff !important;
}

body.darkTheme div.plate hr {
    border-top: 1px dotted #000000 !important;
}

div.plateTitle {
    border-radius: 12px;
    text-align: center;
    font-size: 1.5rem;
    transition: .4s;
}

div.plateClock {
    min-width: 500px;
}

div.plateDemocracy {
    flex-basis: auto;
}

span#memberParty {
    font-weight: 700;
}

div.plateInfo {
    line-height: 20px;
}

span.info {
    font-weight: 700;
}

span#memberImage,
span#partyImage {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-size: 100px;
    background-repeat: no-repeat;
    padding: 0px;
}

span#memberImage {
    position: absolute;
    top: 0px;
    left: 0px;
}

span#partyImage {
    position: absolute;
    top: 0px;
    left: 110px;
}

div#memberBadges {
    display: inline-block;
    height: 100px;
    width: 210px;
    position: relative;
    background-color: grey;
    border-radius: 100px;
}

body.lightTheme div.plate {
    background-color: #dddddd;
    color: black;
}

body.darkTheme div.plate {
    background-color: #222222;
    color: white;
}

body.lightTheme div.plate#weather div.plateTitle {
    background-color: #33ccff;
    color: white;
}

body.darkTheme div.plate#weather div.plateTitle {
    background-color: #00bfff;
    color: white;
}

body.lightTheme div.plate#parliament div.plateTitle {
    background-color: #373151;
    color: white;
}

body.darkTheme div.plate#parliament div.plateTitle {
    background-color: #201d30;
    color: white;
}

body.lightTheme div.plate#parliament div.button {
    background-color: #373151;
    color: white;
}

body.darkTheme div.plate#parliament div.button {
    background-color: #201d30;
    color: white;
}

body.lightTheme div.plate#plateNhs div.plateTitle {
    background-color: #005EB8;
    color: white;
}

body.darkTheme div.plate#plateNhs div.plateTitle {
    background-color: #003087;
    color: white;
}

body.lightTheme div.plate#plateNhs div.button {
    background-color: #005EB8;
    color: white;
}

body.darkTheme div.plate#plateNhs div.button {
    background-color: #003087;
    color: white;
}

body.lightTheme div.plate#plateTakeaway div.plateTitle {
    background-color: #99cc00;
    color: white;
}

body.darkTheme div.plate#plateTakeaway div.plateTitle {
    background-color: #739900;
    color: white;
}

body.lightTheme div.plate#plateTakeaway div.button {
    background-color: #99cc00;
    color: white;
}

body.darkTheme div.plate#plateTakeaway div.button {
    background-color: #739900;
    color: white;
}

div.plate div.button {
    width: fit-content;
    padding: 5px 15px;
    margin: 5px 0px;
    border-radius: 100px;
    transition: .4s;
    flex-grow: 1;
}

div.plate#plateMap {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 85%;
    height: 250px;
}

div.plate div.button a {
    color: white;
}

div.tray {
    width: 100%;
}

div#clockTitle {
    display: flex;
    align-items: center;
    font-size: 3rem;
    color: white;
    background-color: #222222;
    line-height: normal;
    background-blend-mode: multiply;
    background-position-y: bottom;
    background-position-x: center;
}

body.lightTheme div#clockTitle {
    background-color: #008080;
    outline: 16px dotted #ffffff;
    transition: .4s;
}

body.darkTheme div#clockTitle {
    background-color: #004d4d;
    outline: 16px dotted #000000;
    transition: .4s;
}

body.lightTheme div#plateMap {
    background-color: #008080;
    outline: 16px dotted #ffffff;
    transition: .4s;
}

body.darkTheme div#plateMap {
    background-color: #004d4d;
    outline: 16px dotted #000000;
    transition: .4s;
}

.leaflet-layer {
    filter: opacity(60%);
}

.gpLoc, .dentLoc {
    display:flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.gpNum, .dentNum {
    width:50px;
    
}
.gpNum {
    margin: 0px 10px 10px 10px;
    border-radius: 10px;
    padding-top: 5px;
    background-image: url('https://img.icons8.com/material-rounded/24/ffffff/stethoscope--v1.png');
    background-repeat: no-repeat;
    background-position: center bottom 10px;
}
.dentNum {
    margin: 0px 10px 10px 10px;
    border-radius: 10px;
    padding-top: 5px;
    background-image: url('https://img.icons8.com/material-rounded/24/ffffff/smiling-mouth.png');
    background-repeat: no-repeat;
    background-position: center bottom 10px;
}

.gpInfo, .dentInfo {
    text-align:left;
}
body.lightTheme .gpNum, body.lightTheme .dentNum {
    background-color: #005EB8;
}
body.darkTheme .gpNum, body.darkTheme .dentNum {
    background-color: #003087;
}

#gp1Telephone, #gp2Telephone, #dent1Telephone, #dent2Telephone {
    display: list-item;
    list-style-image: url('https://img.icons8.com/material-rounded/12/ffffff/phone-not-being-used.png');
    list-style-position: inside; 
}
#gp1Email, #gp2Email, #dent1Email, #dent2Email {
    display: list-item;
    list-style-image: url('https://img.icons8.com/material-rounded/12/ffffff/open-envelope.png');
    list-style-position: inside; 
}
#gp1Website, #gp2Website, #dent1Website, #dent2Website {
    display: list-item;
    list-style-image: url('https://img.icons8.com/material-rounded/12/ffffff/globe--v1.png');
    list-style-position: inside; 
}

