header {
    border-radius: 10px;
}

div.baseboard {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #008080;
    transition: .4s;
    color: white;
    margin-bottom: 8px;
    margin-top: 8px;
    border-radius: 10px;
}

div.baseboard ul li {
    display: inline;
}

div.baseboard ul li a {
    color: white;
}

.postcard {
    background-size: cover;
    background-position: bottom;
    outline-offset: -8px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0px 2px 12px 2px;
    color: white;
    background-color: #222222;
    line-height: normal;
    background-blend-mode: multiply;
}

.frank {
    display: inline-block;
}

body.lightTheme .postcard {
    background-color: #008080;
    outline: 16px dotted #ffffff;
    transition: .4s;
}

body.darkTheme .postcard {
    background-color: #004d4d;
    outline: 16px dotted #000000;
    transition: .4s;
}

.postcode {
    height: 200px;
    font-size: 2.5rem;
    padding-left: 20px;
    padding-bottom: 20px;
}

.adminDistrict {
    font-weight: 300;
}
h1#postalCode {
    margin-bottom: 0;
}
h3#adminDistrict {
    margin-top: 0;
}

.secondaryToggle {
    display: none !important;
}

@media only screen and (max-width:440px) {
    div.toggleContainer {
        display: none;
    }
    .secondaryToggle {
        display: initial !important;
    }
    .secondaryToggle input {
        background-color: #00000000;
        border: none;
        color: white;
        font-size: inherit;
        text-decoration: underline;
        padding: 0px 0px 0px 0px;
    }
}

@media only screen and (min-width:600px) {
    .frank {
        background-image: url('../images/franked.svg');
        background-repeat: no-repeat;
        background-size: 200px;
        background-position-x: right;
        background-position-y: -70px;
    }
}

div.buttonsrow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.buttonsrow div.button {
    margin: auto;
}

div.buffet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.plate {
    flex-grow: 1;
    margin: 10px 10px 10px 10px;
    transition: .4s;
    border-radius: 12px;
    text-align: center !important;
    padding: 12px;
    justify-content: center !important;
}

body.lightTheme div.plate hr {
    border-top: 1px dotted #ffffff !important;
}

body.darkTheme div.plate hr {
    border-top: 1px dotted #000000 !important;
}

div.plateTitle {
    border-radius: 12px;
    text-align: center;
    font-size: 1.5rem;
    transition: .4s;
}

div.plateClock {
    min-width: 500px;
}

div.plateDemocracy {
    flex-basis: auto;
}

span#memberParty {
    font-weight: 700;
}

div.plateInfo {
    line-height: 20px;
}

span.info {
    font-weight: 700;
}
div.weatherContainer {
    margin-top: 10px;
    display:flex;
    flex-direction: column;
    margin-bottom: 10px;
}
body.lightTheme div#weather div a {
    color:#000000;
}
body.darkTheme div#weather div a {
    color:#ffffff;
}
body.lightTheme div#plateCommunity div a {
    color:#000000;
}
body.darkTheme div#plateCommunity div a {
    color:#ffffff;
}


div.todaysWeather {
    background-image:url('../images/clouds.jpg');
    background-size:cover;
    height:auto;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height:1.5;
    border-radius:12px;
}
div.todaysWeather span::after {
    content: '\A'; white-space: pre;     
}
div.todaysWeather span#todaysTemperature {
    font-size:2.5rem;
}
div.todaysWeather span#todaysDescription {
font-family: 'Merriweather';
font-size: 1.5rem;
}
body.darkTheme div.todaysWeather, body.lightTheme div.todaysWeather {
    color:#ffffff
}

div.weatherForecast {
    margin-top:10px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-around;
    align-items: stretch;
}
div.aDaysWeather {
    display:flex;
    flex-direction:column;
    line-height:1.5;
}
body.lightTheme span.windForecast {
    display: list-item;
    list-style-image: url("https://img.icons8.com/material-rounded/12/000000/wind.png");
    list-style-position: inside; 
}
body.lightTheme div.todaysWeather span.windForecast {
    display: list-item;
    list-style-image: url("https://img.icons8.com/material-rounded/12/ffffff/wind.png");
    list-style-position: inside; 
}
body.darkTheme span.windForecast {
    display: list-item;
    list-style-image: url("https://img.icons8.com/material-rounded/12/ffffff/wind.png");
    list-style-position: inside; 
}
body.darkTheme div.todaysWeather span.windForecast {
    display: list-item;
    list-style-image: url("https://img.icons8.com/material-rounded/12/ffffff/wind.png");
    list-style-position: inside; 
}

span.dayName {
    text-transform:uppercase;
    font-family: 'Merriweather';
}
span.tempForecast {
    font-size:1.5rem;
}

span#memberImage,
span#partyImage {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-size: 100px;
    background-repeat: no-repeat;
    padding: 0px;
}

span#memberImage {
    position: absolute;
    top: 0px;
    left: 0px;
}

span#partyImage {
    position: absolute;
    top: 0px;
    left: 110px;
}

div#memberBadges {
    display: inline-block;
    height: 100px;
    width: 210px;
    position: relative;
    background-color: grey;
    border-radius: 100px;
}

body.lightTheme div.plate {
    background-color: #dddddd;
    color: black;
}

body.darkTheme div.plate {
    background-color: #222222;
    color: white;
}

body.lightTheme div.plate#weather div.plateTitle {
    background-color: #33ccff;
    color: white;
}

body.darkTheme div.plate#weather div.plateTitle {
    background-color: #00bfff;
    color: white;
}

body.lightTheme div.plate#parliament div.plateTitle {
    background-color: #373151;
    color: white;
}

body.darkTheme div.plate#parliament div.plateTitle {
    background-color: #201d30;
    color: white;
}

body.lightTheme div.plate#parliament div.button {
    background-color: #373151;
    color: white;
}

body.darkTheme div.plate#parliament div.button {
    background-color: #201d30;
    color: white;
}

body.lightTheme div.plate#plateNhs div.plateTitle,
body.lightTheme div.plate#plateDoctors div.plateTitle,
body.lightTheme div.plate#plateDentists div.plateTitle {
    background-color: #005EB8;
    color: white;
}

body.darkTheme div.plate#plateNhs div.plateTitle,
body.darkTheme div.plate#plateDoctors div.plateTitle,
body.darkTheme div.plate#plateDentists div.plateTitle {
    background-color: #003087;
    color: white;
}

body.lightTheme div.plate#plateNhs div.button,
body.lightTheme div.plate#plateDoctors div.button,
body.lightTheme div.plate#plateDentists div.button {
    background-color: #005EB8;
    color: white;
}

body.darkTheme div.plate#plateNhs div.button,
body.darkTheme div.plate#plateDoctors div.button,
body.darkTheme div.plate#plateDentists div.button {
    background-color: #003087;
    color: white;
}

body.lightTheme div.plate#plateTakeaway div.plateTitle {
    background-color: #99cc00;
    color: white;
}

body.darkTheme div.plate#plateTakeaway div.plateTitle {
    background-color: #739900;
    color: white;
}

body.lightTheme div.plate#plateTakeaway div.button {
    background-color: #99cc00;
    color: white;
}

body.darkTheme div.plate#plateTakeaway div.button {
    background-color: #739900;
    color: white;
}
body.lightTheme div.plate#plateCouncil div.plateTitle {
    background-color: #b800e6;
    color: white;
}

body.darkTheme div.plate#plateCouncil div.plateTitle {
    background-color: #8f00b3;
    color: white;
}

body.lightTheme div.plate#plateCouncil div.button {
    background-color: #b800e6;
    color: white;
}

body.darkTheme div.plate#plateCouncil div.button {
    background-color: #8f00b3;
    color: white;
}
body.lightTheme div.plate#plateBankHolidays div.plateTitle {
    background-color: 	 #e60000;
    color: white;
}

body.darkTheme div.plate#plateBankHolidays div.plateTitle {
    background-color:   #b30000;
    color: white;
}

body.lightTheme div.plate#plateBankHolidays div.button {
    background-color: 	 #e60000;
    color: white;
}

body.darkTheme div.plate#plateBankHolidays div.button {
    background-color:   #b30000;
    color: white;
}
body.lightTheme div.plate#platePolice div.plateTitle {
    background-color: 	 #0000e6;
    color: white;
}

body.darkTheme div.plate#platePolice div.plateTitle {
    background-color:   #0000b3;
    color: white;
}

body.lightTheme div.plate#platePolice div.button {
    background-color: 	 #0000e6;
    color: white;
}

body.darkTheme div.plate#platePolice div.button {
    background-color:   #0000b3;
    color: white;
}
body.lightTheme div.plate#plateShopSmall div.plateTitle {
    background-color: 	 #00ace6;
    color: white;
}

body.darkTheme div.plate#plateShopSmall div.plateTitle {
    background-color:   #0086b3;
    color: white;
}

body.lightTheme div.plate#plateShopSmall div.button {
    background-color: 	 #00ace6;
    color: white;
}

body.darkTheme div.plate#plateShopSmall div.button {
    background-color:   #0086b3;
    color: white;
}

body.lightTheme div.plate#plateCommunity div.plateTitle {
    background-color: 	  #e65c00;
    color: white;
}

body.darkTheme div.plate#plateCommunity div.plateTitle {
    background-color:   #b34700;
    color: white;
}

body.lightTheme div.plate#plateCommunity div.button {
    background-color: 	  #e65c00;
    color: white;
}

body.darkTheme div.plate#plateCommunity div.button {
    background-color:   #b34700;
    color: white;
}


div.plate div.button {
    width: fit-content;
    padding: 5px 15px;
    margin: 5px 0px;
    border-radius: 100px;
    transition: .4s;
    flex-grow: 1;
}

div.plate#plateMap {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 85%;
    height: 250px;
}
body.lightTheme div.plate div.button a {
    color: white;
}
body.darkTheme div.plate div.button a {
    color: white;
}


div.tray {
    width: 100%;
}

div#clockTitle {
    display: flex;
    align-items: center;
    font-size: 3rem;
    color: white;
    background-color: #222222;
    line-height: normal;
    background-blend-mode: multiply;
    background-position-y: bottom;
    background-position-x: center;
}

body.lightTheme div#clockTitle {
    background-color: #008080;
    outline: 16px dotted #ffffff;
    transition: .4s;
}

body.darkTheme div#clockTitle {
    background-color: #004d4d;
    outline: 16px dotted #000000;
    transition: .4s;
}

body.lightTheme div#plateMap {
    background-color: #008080;
    outline: 16px dotted #ffffff;
    transition: .4s;
}

body.darkTheme div#plateMap {
    background-color: #004d4d;
    outline: 16px dotted #000000;
    transition: .4s;
}

.leaflet-layer {
    filter: opacity(60%);
}

.gpLoc, .dentLoc, .service, .group {
    display:flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.gpNum, .dentNum, .serviceBanner, .groupBanner {
    width: 50px;
    min-width: 50px;  
}
body.lightTheme .serviceBanner, body.lightTheme .groupBanner {
    margin: 0px 10px 10px 10px;
    border-radius: 10px;
    padding-top: 5px;
    background-image: url('https://img.icons8.com/material-rounded/24/ffffff/group-task.png');
    background-repeat: no-repeat;
    background-position: center bottom 10px;
}
body.lightTheme .gpNum, body.lightTheme .dentNum {
    color: #ffffff;
}
body.darkTheme .gpNum, body.darkTheme .dentNum {
    color: #ffffff;
}
body.lightTheme .groupBanner, body.lightTheme .serviceBanner {
    background-color: 	  #e65c00;
    color: #ffffff;
}
body.darkTheme .groupBanner, body.darkTheme .serviceBanner {
    background-color:   #b34700;
    color: #ffffff;
}

.gpNum {
    margin: 0px 10px 10px 10px;
    border-radius: 10px;
    padding-top: 5px;
    background-image: url('https://img.icons8.com/material-rounded/24/ffffff/stethoscope--v1.png');
    background-repeat: no-repeat;
    background-position: center bottom 10px;
}
.dentNum {
    margin: 0px 10px 10px 10px;
    border-radius: 10px;
    padding-top: 5px;
    background-image: url('https://img.icons8.com/material-rounded/24/ffffff/smiling-mouth.png');
    background-repeat: no-repeat;
    background-position: center bottom 10px;
}

.gpInfo, .dentInfo, .serviceInfo, .groupInfo {
    text-align:left;
}
body.lightTheme .gpNum, body.lightTheme .dentNum {
    background-color: #005EB8;
}
body.darkTheme .gpNum, body.darkTheme .dentNum {
    background-color: #003087;
}
.serviceInfo span::after, .groupInfo span::after { 
    content: '\A'; white-space: pre; 
}
span.groupInfoAddressLine1, span.groupInfoPostcode {
    line-height: 2;
}
span.groupInfoName, span.serviceInfoName {
    font-family: 'Merriweather';
    font-weight:700;
}
body.lightTheme #gp1Telephone, body.lightTheme #gp2Telephone, body.lightTheme #dent1Telephone, body.lightTheme #dent2Telephone, body.lightTheme .serviceInfoTelephone, body.lightTheme .groupInfoTelephone {
    display: list-item;
    list-style-image: url('https://img.icons8.com/material-rounded/12/000000/phone-not-being-used.png');
    list-style-position: inside; 
}
body.darkTheme #gp1Telephone, body.darkTheme #gp2Telephone, body.darkTheme #dent1Telephone, body.darkTheme #dent2Telephone, body.darkTheme .serviceInfoTelephone, body.darkTheme .groupInfoTelephone {
    display: list-item;
    list-style-image: url('https://img.icons8.com/material-rounded/12/ffffff/phone-not-being-used.png');
    list-style-position: inside; 
}
body.lightTheme #gp1Email, body.lightTheme #gp2Email, body.lightTheme #dent1Email, body.lightTheme #dent2Email {
    display: list-item;
    list-style-image: url('https://img.icons8.com/material-rounded/12/000000/open-envelope.png');
    list-style-position: inside; 
}
body.darkTheme #gp1Email, body.darkTheme #gp2Email, body.darkTheme #dent1Email, body.darkTheme #dent2Email {
    display: list-item;
    list-style-image: url('https://img.icons8.com/material-rounded/12/ffffff/open-envelope.png');
    list-style-position: inside; 
}
body.lightTheme #gp1Website, body.lightTheme #gp2Website, body.lightTheme #dent1Website, body.lightTheme #dent2Website, body.lightTheme .serviceInfoWebsite, body.lightTheme .groupInfoWebsite {
    display: list-item;
    list-style-image: url('https://img.icons8.com/material-rounded/12/000000/globe--v1.png');
    list-style-position: inside; 
}
body.darkTheme #gp1Website, body.darkTheme #gp2Website, body.darkTheme #dent1Website, body.darkTheme #dent2Website, body.darkTheme .serviceInfoWebsite, body.darkTheme .groupInfoWebsite {
    display: list-item;
    list-style-image: url('https://img.icons8.com/material-rounded/12/ffffff/globe--v1.png');
    list-style-position: inside; 
}

body.lightTheme .serviceInfoFacebook, body.lightTheme .groupInfoFacebook {
    display: list-item;
    list-style-image: url('https://img.icons8.com/material-rounded/12/000000/facebook-new.png');
    list-style-position: inside; 
}
body.darkTheme .serviceInfoFacebook, body.darkTheme .groupInfoFacebook {
    display: list-item;
    list-style-image: url('https://img.icons8.com/material-rounded/12/ffffff/facebook-new.png');
    list-style-position: inside; 
}
body.lightTheme .serviceInfoTwitter, body.lightTheme .groupInfoTwitter {
    display: list-item;
    list-style-image: url('https://img.icons8.com/material-rounded/12/000000/twitter.png');
    list-style-position: inside; 
}
body.darkTheme .serviceInfoTwitter, body.darkTheme .groupInfoTwitter {
    display: list-item;
    list-style-image: url('https://img.icons8.com/material-rounded/12/ffffff/twitter.png');
    list-style-position: inside; 
}


body.lightTheme .gpInfo a, body.lightTheme .dentInfo a, body.lightTheme .serviceInfo a, body.lightTheme .groupInfo a {
    color:black;
}
body.darkTheme .gpInfo a, body.darkTheme .dentInfo a, body.darkTheme .serviceInfo a, body.darkTheme .groupInfo a {
    color:white;
}

div.plateTitle {
    margin-bottom: 15px;
}

div#plateBankHolidays div.plateInfo span::after{
    content: '\A'; white-space: pre; 
}

span#nation, span#bankHolidayName, span#bankHolidayDay, span#bankHolidayMonth, span#bankHolidayYear {
    line-height: 1.5;
    font-family: 'Merriweather';
    font-size: 1.5rem;
}
span#bankHolidayName {
    text-transform:capitalize;
}
span#bankHolidayDay, span#bankHolidayMonth, span#bankHolidayYear { 
    font-size: 1.7rem;
    font-weight:700;
}



