@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;500;700&display=swap');
* {
    font-family: 'Jost', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap');
#headline {
    font-weight: 700;
}

#subtitle {
    font-weight: 300;
}