body {
    display: flex;
    flex-flow: column;
    height: 100%;
}

header {
    height: 110px;
    border-radius: 10px;
}

div#main {
    flex: 1 1 auto;
    /* display: flex; */
    max-height: 100%;
}

div#main iframe {
    padding-top: 8px;
    position: absolute;
    width: calc(100% - 16px);
    height: calc(100% - 172px);
    /* flex-grow: 1; */
    border: none !important;
    font-family: 'Jost' !important;
    display: block;
}

body {
    overflow: hidden;
}

div#palette {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    margin-top: 8px;
}

div.half {
    flex-grow: 1;
    min-height: 260px;
    color: #000000;
    padding: 16px;
    padding-right: 50px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 10px;
    background-color: #008080;
    cursor: pointer;
    background-size: cover;
    filter: grayscale();
    transition: .5s;
}

div.half h1 {
    font-weight: 500;
}

div.half#formLink {
    background-image: url('../images/housing.jpg');
    background-position-x: left;
}

div.half#addLink {
    background-image: url('../images/housing.jpg');
    background-position-x: right;
}

div.half:hover {
    color: #008080;
    filter: grayscale(0);
    transition: .5s;
}