header {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #008080;
    transition: .4s;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
}

h1#logo {
    color: white;
    font-weight: 500;
}

span.sans {
    font-family: 'Jost';
}

span.serif {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-style: italic;
}

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #008080;
    transition: .4s;
    color: white;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

footer ul li {
    display: inline;
}

footer ul li a {
    color: white;
}

.toggleContainer {
    display: inline;
    align-self: flex-end !important;
}

.toggleContainer img {
    vertical-align: middle;
    padding: 5px;
    padding-top: 10px;
}

.secondaryToggle {
    display: none;
}

@media only screen and (max-width:440px) {
    div.toggleContainer {
        display: none;
    }
    .secondaryToggle {
        display: initial;
    }
    .secondaryToggle input {
        background-color: #00000000;
        border: none;
        color: white;
        font-size: inherit;
        text-decoration: underline;
        padding: 0px 0px 0px 0px;
    }
}

div.baseboard ul {
    padding-inline-start: 0px !important;
}