.input-text {
    padding: 10px 10px 10px 10px;
    width: 250px;
    margin: 0px 0px 0px 0px;
    border-radius: 150px;
    border: 0px;
    outline: none;
}

.input-submit {
    display: none;
    outline: none;
    background-color: white;
    transition: .4s;
}

input#userPostcode:valid~.input-submit {
    display: initial;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 0px 0px;
    border-radius: 150px;
    border: 0px;
    background-color: #008080;
    transition: .4s;
    color: white;
}

body.darkTheme input#userPostcode:valid~.input-submit {
    background-color: #004d4d;
    transition: .4s;
}

body.lightTheme input#userPostcode:valid {
    background-color: #008080;
    color: white;
    font-weight: 700;
    transition: .4s;
    background-image: url('https://img.icons8.com/material-rounded/24/ffffff/checked.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 240px;
}

body.darkTheme input#userPostcode:valid {
    background-color: #004d4d;
    color: white;
    font-weight: 700;
    transition: .4s;
    background-image: url('https://img.icons8.com/material-rounded/24/ffffff/checked.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 240px;
}

body.darkTheme input.input-submit:hover {
    color: #004d4d !important;
    background-color: white !important;
}

body.lightTheme input.input-submit:hover {
    color: #008080 !important;
    background-color: white !important;
}

input.input-submit:active {
    color: white !important;
}