body.lightTheme {
    background-color: white;
    transition: .4s;
}

body.darkTheme {
    background-color: #000000;
    transition: .4s;
}

body.darkTheme header {
    background-color: #004d4d;
    transition: .4s;
}

body.darkTheme footer,
body.darkTheme div.baseboard {
    background-color: #004d4d;
    transition: .4s;
}

body.lightTheme body::-webkit-scrollbar-track {
    background-color: #ffffff;
}

body.lightTheme body::-webkit-scrollbar-thumb {
    background-color: #008080;
}

body.darkTheme body::-webkit-scrollbar-track {
    background-color: #000000;
}

body.darkTheme body::-webkit-scrollbar-thumb {
    background-color: #004d4d;
}

body.lightTheme {
    scrollbar-color: #008080 #ffffff;
}

body.darkTheme {
    scrollbar-color: #004d4d #000000;
}

.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dddddd;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #222222;
}

input:checked+.slider:before {
    -webkit-transform: translateX(66px);
    -ms-transform: translateX(66px);
    transform: translateX(66px);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    cursor: default;
}

footer ul {
    padding-left: 0;
    padding-left: 5px;
    padding-right: 5px;
}