* {
  font-family: Overpass;
}
div.header {
  background-image: url('sandy.jpg');
  border-radius: 12px;
}
div.header h1 {
  text-align: center;
  color: white;
}
div.nav {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
div.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
div.nav li {
  list-style-type: none;
  display: inline;
  padding: 4px 5px 3px 5px;
  line-height: 160%;
  white-space: nowrap;
  background-color: #ffffff88;
  border-radius: 30px;
}
div.nav li a {
  color: black !important;
  text-decoration: none !important;
}
.postcard {
  background-image: url('tent.jpg');
  background-size: cover;
  background-position: bottom;
  outline: 16px dotted #ffffff;
  outline-offset: -8px;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 12px;
  color: white;

}
.card {
  background-color: #eeeeee;
  border-radius: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}
.mainimg {
  filter: saturate(150%);
}
.nested {
  margin: 8px;
  background-color: #dddddd;
  text-align: left;
  padding-left: 8px;
}

.address {
  background-image: url(https://img.icons8.com/material-rounded/96/000000/address.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 70px;
  line-height: 60%;
}
.address p:last-of-type {
  font-weight: bold;
}
.note {
  background-color: #f0f0b0;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: 10px dotted #efa040;
  background-image: url(https://img.icons8.com/material-rounded/96/efa040/error.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 70px;
}

.telephone {
  background-image: url(https://img.icons8.com/material-rounded/96/000000/phone.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 70px;
  height: 50px;
}
.inform {
  background-image: url(https://img.icons8.com/material-rounded/96/000000/information.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 70px;
  height: 50px;
}
.website {
  background-image: url(https://img.icons8.com/material-rounded/96/000000/globe.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 70px;
  height: 50px;
}
.break {
  background-color: limegreen !important;
  color: black;
}

.telephone a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.website a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}


div.newton {
  height: 150px;
  filter: saturate(70%);
  filter: brightness(70%);
  background-image: url('newton.jpg') !important;
  background-size: cover;
  background-position: bottom;
  color: white;
}
div.exeter {
  height: 150px;
  filter: saturate(70%);
  filter: brightness(70%);
  background-image: url('exeter.jpg') !important;
  background-size: cover;
  background-position: bottom;
  color: white;
}
div.torquay {
  height: 150px;
  filter: saturate(70%);
  filter: brightness(70%);
  background-image: url('torquay.jpg') !important;
  background-size: cover;
  background-position: bottom;
  color: white;
}
div.services {
  height: 150px;
  filter: saturate(70%);
  filter: brightness(70%);
  background-image: url('services.jpg') !important;
  background-size: cover;
  background-position: center;
  color: white;
}
div.directions {
  height: 150px;
  filter: saturate(70%);
  filter: brightness(70%);
  background-image: url('map.jpg') !important;
  background-size: cover;
  background-position: center;
  color: white;
}
div.button a {
  padding: 12px;
  color: black;
  background-color: white;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
}