@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700;900&family=Damion&family=Dancing+Script:wght@700&family=Germania+One&family=Goblin+One&family=Lobster&family=Londrina+Shadow&family=Montserrat:wght@700&family=Sacramento&family=Satisfy&family=Syncopate&family=Tourney:wght@300&display=swap');

body {
  overflow-y: scroll;
  max-width: 750px;
  margin: auto;
  text-align: center;
  font-family: 'Barlow';
}

header {

  margin-bottom: 10px;
  padding: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  background-color: #008080;
  background-image: url('port.jpg');
  background-size: cover;
  background-position: middle;

  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: +6px;
}

nav ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-end;
  margin-left: 10px;
  margin-right: 10px;
}

nav ul li {
  padding: 10px;

  align-self: flex-end;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
  display: inline-block;
  color: #000000;
  text-decoration: none;
  background-color: #dddddd;


}

nav ul li.current {
  background-color: #005050;
}

nav ul li a {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
}

nav ul li.current a {
  color: #ffffff;
}

nav ul li:hover {
  background-color: #008080;

}

nav ul li.current:hover {
  background-color: #005050;
}

nav ul li:hover a {
  color: #ffffff;
}

nav ul {
  margin-bottom: 0;
}

#places {
  background-color: #005050;
  padding-top: 20px;
  border-radius: 10px;
}

.list {

  padding: 10px;

}

.list>li {
  display: block;
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;


}

#placemat {
  height: 500px;
  background-image: url('needles.jpg');
  color: #008080;
}

#placemat h2 {
  font-size: 2rem;
  font-family: 'Satisfy';
}


input {

  width: 300px;
  border: solid 1px #cccccc;
  border-radius: 10px;
  padding: 7px 14px;
  margin-bottom: 10px;
}


input:focus {
  outline: none;
  border-color: #aaaaaa;
}

.sort {
  padding: 8px 30px;
  border-radius: 10px;
  border: none;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  background-color: #008080;
  height: 30px;
}

input,
button {
  font-family: 'Barlow';
  font-weight: 700;
}

.sort:hover {
  text-decoration: none;
  background-color: #005050;
}

.sort:focus {
  outline: none;
}

.sort:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content: "";
  position: relative;
  top: -10px;
  right: -5px;
}

.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content: "";
  position: relative;
  top: 13px;
  right: -5px;
}

.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content: "";
  position: relative;
  top: -10px;
  right: -5px;
}

.type {
  font-weight: 700;
  margin-block-start: 10px;
  margin-block-end: 0;
}

.name {
  margin-block-start: 10px;
  font-size: 2rem;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-weight: 900;
  margin-block-end: 10px;
}

.type.restaurant+.name {
  display: list-item;
  list-style-image: url('https://img.icons8.com/material-rounded/24/ffffff/dining-room.png');
  list-style-position: inside;

}

.telephone {
  display: list-item;
  list-style-image: url('https://img.icons8.com/material-rounded/18/000000/ringing-phone.png');
  list-style-position: inside;
  font-weight: 900;
}

.website {
  display: list-item;
  list-style-image: url('https://img.icons8.com/material-rounded/18/000000/domain--v2.png');
  list-style-position: inside;
  font-weight: 900;
}

.telephone a,
.website a {
  color: black !important;

}

.hours {
  display: list-item;
  list-style-image: url('https://img.icons8.com/material-rounded/18/000000/clock.png');
  list-style-position: inside;
}

.address {
  margin-block-end: 0;
}

.locality {
  margin-block-start: 0;
  font-weight: 700;
}

.postcode {
  font-weight: 700;
}

.altname {
  display: none;
}


@media (prefers-color-scheme: dark) {

  body {
    background-color: #000000;
  }

  nav ul li {
    background-color: #008080;
  }

  nav ul li a {
    color: #ffffff;
  }

  nav ul li.current {
    background-color: #ffffff;
  }

  nav ul li.current a {
    color: #000000;
  }

  nav ul li:hover {
    background-color: #005050;
  }

  nav ul li.current:hover {
    background-color: #ffffff;
  }

  #places {
    background-color: #ffffff;
  }

  .list>li {
    background-color: #000000;
    color: #ffffff;
  }

  .telephone a,
  .website a {
    color: #ffffff !important;

  }


  .telephone {
    list-style-image: url('https://img.icons8.com/material-rounded/18/ffffff/ringing-phone.png');
  }

  .website {
    list-style-image: url('https://img.icons8.com/material-rounded/18/ffffff/domain--v2.png');
  }

  .hours {
    list-style-image: url('https://img.icons8.com/material-rounded/18/ffffff/clock.png');
  }
}