@import url("https://use.typekit.net/skx0vho.css");

:root {
    --orange: #c1420d;
    --darkGrey: #222222;
    --white: #ffffff;
    --headline: italic 800 1rem 'bodoni-egyptian-pro', serif;
    --body: normal 400 1rem 'p22-underground', sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--darkGrey);
        --foreground: var(--white);
        --grey: #cccccc;
    }

    body>header a {
        color: var(--white);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background: var(--white);
        --foreground: var(--darkGrey);
        --grey: #777777;
    }

    body>header a {
        color: var(--darkGrey);
    }
}


body {
    padding: 0;
    margin: 0;
    border: 0;
    transition: .5s;
    cursor: default;
    writing-mode: horizontal-tb;
    direction: ltr;
}

body>header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

body>header a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: var(--headline);
}

h1 {
    font-size: 2rem;
}


.name {
    font: var(--headline);
    text-transform: uppercase;
    text-align: center;
    padding: 10px 10px 0px 10px;
    font-size: 2.4rem;
    transition: .5s;
    margin-block: 10px;
    line-height: 1;
}

.name.animated {
    animation: 2s orange-in 1;
}

.name:hover {
    color: var(--orange);

}

@keyframes narrow-in {
    0% {
        letter-spacing: 15px;
        color: var(--orange);
    }

    20% {
        letter-spacing: 15px;
        color: var(--orange);
    }

    100% {
        letter-spacing: unset;

    }
}

@keyframes orange-in {
    0% {
        color: var(--orange);
    }

    20% {
        color: var(--orange);
    }


}

nav {
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-inline-end: 10px;

}

nav ul li {
    display: inline;
}

nav.animated ul li {
    animation: 2.5s fade-in-nav forwards;
}

@keyframes fade-in-nav {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.nav-icon {
    color: var(--white);
    font-size: 2rem;
    display: flex;
    background-color: var(--orange);
    height: 12vw;
    width: 12vw;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;
    margin: 0;
}

.nav-icon:hover {
    background-color: var(--background);
    color: var(--orange);
    outline: 3px solid var(--orange);
    outline-offset: -3px;

}

nav a {
    text-decoration: none;
}

.triple {

    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    gap: 5vw;
}



.triple-box {
    background-color: var(--orange);
    aspect-ratio: 1;
    width: calc(100% - 10vw);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;



}

#triple-box-words {
    color: var(--white);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

}

#triple-box-words.animated {
    animation: 1s fade-in-words forwards;
}




#triple-box-half.animated {
    animation: 1.5s fade-in-half forwards;
}

#triple-box-photo.animated {
    animation: 2s fade-in-photo forwards;
}

@keyframes fade-in-words {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in-half {
    0% {
        opacity: 0;
    }

    33.3% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in-photo {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.intro {
    padding: 10px;
    font: var(--headline);
    font-size: clamp(1.2rem, 4vw, 2.7rem);
    line-height: 1.2;
    margin: 0;

}

.rest {
    padding: 0px 10px;
    font: var(--body);
    font-size: 1.2rem;
    margin: 0;
    max-width: 30ch;
}

#triple-box-half {
    background-color: var(--orange);
    background-image: url('../images/me/me-square.jpeg');

    background-blend-mode: luminosity;
    display: none;
}

#triple-box-photo {

    background-image: url('../images/me/me-square.jpeg');
}

.gallery {

    margin: 10px;
}

.vcard.animated {
    animation: 3s fade-in-rest forwards;
}

.gallery.animated,
#before-emley.animated,
#emley.animated {
    animation: 3s fade-in-rest forwards;

}

@keyframes fade-in-rest {
    0% {
        opacity: 0;
    }

    66.7% {
        opacity: 0;

    }

    100% {
        opacity: 1;
    }
}

.filterSelection {
    display: flex;
    gap: 10px;
    margin-block: 20px;
    flex-direction: row;
    align-items: center;
}


.filterSelection p {
    color: var(--foreground);
    font: var(--body);
}

#filterContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

#filterContainer button {
    border: 3px solid var(--orange);
    background-color: var(--background);
    padding: 7px 10px;
    color: var(--foreground);
    font: var(--headline);
    transition: .5s;
    font-size: 0.85rem;

}

#filterContainer button span {
    margin-inline-end: 10px;
}

#filterContainer button:hover {
    background-color: var(--orange);
    color: var(--white);
}

#filterContainer button.active {
    background-color: var(--background);
    border: 5px solid var(--foreground);
    padding: 5px 8px;
    transition: .5s;
    color: var(--foreground);
}

#filterContainer input {
    border: 3px solid var(--orange);
    background-color: var(--background);
    padding: 7px 10px;
    color: var(--foreground);
    font: var(--headline);
    font-size: 0.85rem;
    transition: .5s;
}


article {
    display: flex;
    flex-direction: column;
    transition: .5s;
}

.label {
    background: var(--orange);
    padding: 10px;
    color: var(--white);
    font: var(--headline);
    display: inline-block;
    font-size: 1.5rem;
    margin: 0;
    inline-size: fit-content;

}

.carousel {
    width: 100%;
    height: unset !important;
    aspect-ratio: 16 / 9 !important;
    color: black;
    object-fit: cover;
    transition: .5s;
    animation: oversize 10s infinite ease-in-out;


}

.beneath {
    display: flex;
}

.comment {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 0px;
}

.attribution {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--orange);
    font: var(--headline);
    padding: 5px;
    margin-block-end: 10px;
}

.unit {
    color: var(--orange);
    margin: 0;
}

.institution {
    color: var(--grey);
    margin: 0;
}

.blurb {
    font: var(--body);
    padding-inline-start: 8px;
    margin: 0;
}

.beneathDate {
    font: var(--headline);
    text-align: right;
    color: var(--grey);
    margin-block-start: 10px;
    min-width: max-content;
}

button {
    border: 0;
    font-size: unset;
    color: unset;
}

.controls {
    display: flex;
    flex-direction: column;
}

.arrows {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: var(--foreground);
    font-size: 2rem;
    cursor: pointer;

}

.left-arrow,
.right-arrow {
    width: 60px;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    transition: .5s;
}

.left-arrow:hover,
.right-arrow:hover {
    color: var(--orange);
}

.link {
    background-color: var(--orange);
    height: 15vw;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-inline-start: 10px;
    font: var(--headline);
    transition: .5s;
    cursor: pointer;
}

.link.halfheight {
    height: 7.5vw;
    padding: 5px 0px;
}

.link:hover {
    background-color: var(--background);
    color: var(--orange);
    outline: 3px solid var(--orange);
    outline-offset: -3px;
}

.section-header {
    font: var(--headline);
    font-size: 2rem;
    text-decoration: 4px underline dotted var(--orange);
    margin-block-end: 5px;
}

.section-header-subtitle {
    font: var(--headline);
    font-size: 1.4rem;
    color: var(--orange);

    margin-block-start: 5px;
    margin-block-end: 10px;
}

.link.offline {
    padding: 0;
    opacity: .5;
}

.link.offline:hover {
    background-color: var(--orange);
    color: var(--foreground);
    outline: unset;
    outline-offset: unset;
    cursor: not-allowed;
}

hr {
    border: none;
    border-block-end: 4px dotted var(--grey);
}

#election_carousel {
    background-image: url('../projects/ar/thatch.png');
}

.vcard {
    background-color: var(--orange);
    color: var(--white);
    margin: 10px;
    padding: 10px;
}

.vcard section {
    display: flex;
    padding: 10px;
    font: var(--body);
    word-break: break-word;
}

.vcard section .p-note {
    margin: 0;
    max-inline-size: 60%;
}


.vcard section.contactLinks {
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
}

.vcard section.contactLinks section {
    padding: 0;
    border: 3px solid var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;

}

.vcard section.contactLinks section span {
    padding: 10px;
    background-color: var(--white);
    color: var(--orange);
    font-size: 1.5rem;
}

.vcard section.contactLinks section p,
.vcard section.contactLinks section div {
    margin: 0;
    padding-inline-start: 10px;

}

.vcard header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.vcard header a {
    text-decoration: none;
}

.vcard header h2 {
    text-transform: uppercase;
    font-size: 2rem;
    max-width: 7ch;
    line-height: 1;
    transition: 1s;
    -webkit-text-stroke: 0px var(--white);
}

.vcard header h2:hover {
    color: var(--orange);
    -webkit-text-stroke: 2px var(--white);

}


.vcard header img {
    border-radius: 50%;
    max-width: 30vw;
    max-height: 30vw;
    aspect-ratio: 1;
    outline: 5px var(--white) solid;
}

.vcard a {
    color: var(--white) !important;
}







#emley {
    width: calc(100% - 20px);
    aspect-ratio: 3/1;
    background-image: url('../images/features/emley.jpg');
    margin: 0 10px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-block-end: 10px;
    text-align: center;
}









.outro {
    font: var(--headline);
    color: var(--white);
}

#nonsequitur {
    font: var(--body);
}

.quiet {
    color: var(--grey);
}


.wideOrange {
    background-color: var(--orange);
    color: var(--white);
    margin: 10px;
    padding: 10px;
}









@keyframes oversize {
    0% {
        object-position: top left;
    }

    90% {
        object-position: bottom right;
    }

    100% {
        object-position: top left;
    }
}






@keyframes slide-up {
    0% {
        background-position: top;
    }

    90% {
        background-position: bottom;
    }

    100% {
        background-position: top;
    }
}

@keyframes panorama {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

@keyframes hue {
    0% {
        filter: hue-rotate(0deg);
        background-position: left;
    }


    50% {
        background-position: right;
    }

    100% {
        filter: hue-rotate(360deg);
        background-position: left;
    }
}

@media screen and (min-width: 450px) {
    .triple {
        flex-direction: row;
        margin-inline: 10px;
        width: calc(100% - 20px);
        gap: 10px;
    }


}


@media screen and (min-width:650px) {
    .intro {

        max-width: 450px;
    }

    .vcard section.contactLinks {
        grid-template-columns: 50% 50%;
    }
}

@media screen and (min-width: 900px) {
    #triple-box-half {
        display: initial;
    }



    .vcard section.contactLinks {
        grid-template-columns: calc(33.3% - 10px) calc(33.3% - 10px) calc(33.3% - 10px);
        gap: 10px;
    }
}

@media screen and (min-width: 750px) {
    body>header {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    nav ul {
        width: unset;
        justify-content: flex-end;
        gap: 10px;
    }

    .nav-icon {
        width: 10vw;
        height: 10vw;
        aspect-ratio: 1;
        max-height: 120px;
        max-width: 120px;
        font-size: 3rem;
    }

    .name {
        display: flex;
        align-items: center;
        text-align: start;
    }
}

@media screen and (min-width:1000px) {
    .name:hover {
        letter-spacing: 10px;

    }

    .name.animated {
        animation: 2s narrow-in 1;
    }
}

@media screen and (min-width: 750px) {
    .articles {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 10px;
        margin-inline: 10px;
        justify-content: space-evenly;
    }

    .link {
        max-height: 100px;
    }

    .link.halfheight {
        max-height: 50px;
        padding: unset;
    }
}

@media screen and (min-width: 1125px) {
    .articles {
        grid-template-columns: 33% 33% 33%;
        gap: 10px;
        margin-inline: 10px;
    }

    .vcard section.contactLinks {
        grid-template-columns: calc(25% - 10px) calc(25% - 10px) calc(25% - 10px) calc(25% - 10px);
        gap: 10px;
    }
}

@media screen and (min-width: 1500px) {
    .articles {
        grid-template-columns: 24% 24% 24% 24%;
        gap: 10px;
        margin-inline: 10px;
    }
}

@media screen and (min-width: 1600px) {
    body {
        max-width: 1600px;
        margin: auto;
    }
}


body {
    background-color: var(--background);
}

.name {
    color: var(--foreground);
}

.section-header {
    color: var(--foreground);
}

.blurb {
    color: var(--foreground);
}

.institution {
    color: var(--foreground);
}

a {
    color: var(--foreground) !important;
}

.link:hover {
    background-color: var(--background);
}

.nav-icon:hover {
    background-color: var(--background);
}